html {/*html*/
    font-size: 22px; /*px quiere decir "pixeles":Es el tamaño de la fuente base es ahora de 10 pixeles de altura*/
    font-family:"Open Sans",sans-serif;/*Este debe ser el resto de el resultado que obtuviste de google fonts*/
}
h1,h2,h3,h4{/*h1*/
    color: rgb(255, 187, 0);
    font-size: 30px;/*px quiere decir "pixeles":Es el tamaño de la fuente base es ahora de 10 pixeles de altura*/
    text-align: center;/*centramos el texto*/
    font-family: "cursive";/*fuente de la letra*/
}

p,li{/*comentarios y listas*/
    font-size: 20px;/*px quiere decir "pixeles":Es el tamaño de la fuente base es ahora de 10 pixeles de altura*/
    line-height:2;/*altura de las lineas*/
    letter-spacing: 0px;/*espacio entre letras*/
    font-family: "Arial";/*fuente de la letra*/
}

body{
    background-color: rgb(255, 255, 255);/*color del fondo*/
}
nav{
    background-color: brown;
}